/.quarto/
/_site/
/docs/
.DS_Store
/.luarc.json
/.quarto/*
.quarto/
.quarto/idx/part1/deciding-on-an-approach.qmd.json
.quarto/xref/190dfa99
.quarto/xref/190dfa99
.quarto/idx/part1/deciding-on-an-approach.qmd.json
